body{
    margin: 0%;
}

.topbar{
    margin-top: 0%;
    height: 10%;
    width: 100%;
    background-color: brown;
    display: flex;
}
.topbar #topname{
    height: 100%;
    width:80%;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: left;
    margin-left: 2px;
    color: aliceblue;
}
.topbar #topgap{
    height: 100%;
    width:10%;  
}
.topbar a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    height: 20%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.DS{
    height: 20%;
    width: 80%;
display: flex;
    margin-left: 10%;
}
#dsname{
    height: 100%;
    width: 70%;
    text-align: left;
    display: flex;

}
#dsname #dslogo{
    height: 100%;
    width: 10%;
    text-align: left;
}
#dsname #name{
    height: 100%;
    width: 90%;
    text-align: left;
    margin-left: 5px;
}

#search{
    height: 100%;
    width: 20%;
    text-align: right;
    padding: 2%;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #181616;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
  .menu{
    height: 80%;
    width: 80%;
    margin-left: 10%;
    display: flex;
  }
  #menugap{
    height: 100%;
    width: 40%;

  }
  #menubar{
    height: 100%;
    width: 60%;
    text-align: right;

  }
#menubar ul{
    padding: 0% 11%;
}
#menubar li{
    display: inline;
    padding: 2%;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;

}

li :hover{
    color: red;
}



.cover {
    position: relative; 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover::before {    
      content: "";
      background-image: url(image/SAU1.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: .80;
}
.cover h1 {
    position: relative;
    color: #ffffff;  
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-weight: 600;
    font-size: 75px;
    text-shadow: 4px 4px 0px #000, 
        -4px 0 0px #000,
        7px 4px 0 #fff;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.about{
    height: auto;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

 #link:link, #link:visited {
    background-color: #fa3605;
    color: white;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  
  #link:hover, #link:active {
    background-color: rgb(94, 90, 90);
    transition-duration: 1s;
  }
  .top-link:link, .top-link:visited {
    background-color: #fa3605;
    color: white;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  
  .top-link:hover, .top-link:active {
    background-color: rgb(94, 90, 90);
    transition-duration: 1s;
  }
.about h1{
    font-size: 45px;
}
.about p{
    font-size: 30px;
    text-align: justify;
}

.join{
    text-align: center;
    font-size: larger;
}


.details{
    height: 170px;
    width: 100%;
    background-color: #4dedf3fd;
    text-align: center;
}

.detailsmain{
    height: 0%;
    width: 90%;
    margin:5%;
    display: flex;
}

.detailsname{
    height: 70px;
    width: 100%;
    padding-top: 10px;

    display: flex;
}
.detailsdsname{
    height: 100%;
    width: 50%;

    text-align: left;
    padding-left: 2%;
}
.detailslogin{
    height: 100%;
    width: 50%;

    text-align: right;
    padding: 1%;
}
.details-link:link, .details-link:visited {
    background-color: #fa3605;
    color: white;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  
  .details-link:hover, .details-link:active {
    background-color: rgb(94, 90, 90);
    transition-duration: 1s;
  }
.detailsaddress{
    height: 85px;
    width: 90%;
    margin:5%;
    display: flex;
}
.addressmother{
    text-align: left;
    margin:2%;

}

.footer{
    height: 100px;
    width: 100%;
    background-color: #332e2efd;
    color: #dfdfdf;
}
.footermother{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    margin-bottom: 5px;
}
.logo{
    height: 100%;
    width: 10%;
    background-color: #fff;
}
.logo img{
    margin-left: 10px ;
}
.address{
    height: 100%;
    width: 65%;
}
.addressmain{
    height: 75px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: auto;
}
.rights{
    height: 25px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
#griddiv{
     text-decoration: solid;
     text-align: center;
     margin: 27px;
     font-size: 22px;
     font-weight: 900;
}
.top{
    height: 100%;
    width: 25%;
    margin-top: 5px;
    text-align: right;
    align-items: center;
}

@media screen and (max-width: 768px) and (min-width:600px){
    .DS{
        width:100%;
        margin-left: 0%;
    }
    #dsname{
        width:100%;
    }
    #dsname #dslogo{
        width:15%;
    }
    #dsname #name{
        width: 80%;
    }
    .menu{
        width:96%;
        margin-left: 2%;
    }
    #menugap{
        width: 0%;
    }
    #menubar{
        width: 100%;
    }
    #menubar ul{
        padding: 0%;
    }
    #menubar li{
        display: inline-block;
        padding: 2%;
        font-size: 23px;
    }
    .cover{
        height: 315px;
    }
    .cover h1{
        padding: 2%;
        font-size: 40px;
    }

    .detailsmain{
        height: 82px;
    }
    .footer{
        height: 210px;
    }
    .footermother{
        margin: 0%;
        width: 100%;
    }
    .logo{
        height: 55%;
        width:17%;
    }
    .logo img{
        margin-left: 0%;
        padding: 2px;
    }
    .address{
        display: block;
        height: 250pxpx;
    }
    .addressmain{
        height: 120px;
        grid-template-columns: repeat(3, 2fr);
    }
    .rights{
        height: 50px;
        margin-top: 5px;
        font-size: 28px;
    }
    #griddiv{
        margin: 16px;
        font-size: 26px;
    }
    .top{
        margin: 0%;
    }
}

@media only screen and (max-width: 480px){
    .DS{
        width:100%;
        margin-left: 0%;
    }
    #dsname{
        width:100%;
    }
    #dsname #dslogo{
        width:20%;
    }
    #dsname #dslogo img{
        margin-top: 20px;
    }
    #dsname #name{
        width: 80%;
    }
    #search input{
        width: 30px;
        padding:10px 12px 10px 50px;
        margin-top: 16px;
    }
    .menu{
        width:100%;
        margin-left: 0%;
    }
    #menugap{
        width: 0%;
    }
    #menubar{
        width: 100%;
        text-align: center;
    }
    #menubar ul{
        padding: 0%;
    }
    #menubar li{
        display: inline-block;
        padding: 1%;
        font-size: 14px;
    }
    .cover{
        height: 225px;
    }
    .cover h1{
        padding: 13px 193px 35px 40px;
        font-size: 31px;

    }
    .about{
        width:100%;
        margin: 0%;
    }
    .about h1{
        font-size: 24px;
    }
    .about p{
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;

    }
    .footer{
        height: 125px;
        
    }
    .footermother{
        margin-left: 0%;
        width: 98%;
    }
    .logo{
        height: 60% ;
        width:  20% ;
    }
    .logo img{
        height: 100% ;
        width:  100% ;
        margin-left: 0%;
    }
    .addressmain{
        height: 79px;
        grid-template-columns: repeat(2, 3fr);
    }
    #griddiv{
        margin: 3px;
        font-size: 17px;
    }
    .rights{
        margin-top: 5px;
    }
    .top{
        margin: 0%;
    }
    
    .top-link:link, .top-link:visited {
        background-color: #fa3605;
        color: white;
        padding: 5px 5px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        font-stretch: expanded;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
      
      .top-link:hover, .top-linkk:active {
        background-color: rgb(94, 90, 90);
        transition-duration: 1s;
      }
      .detailsmain{
        height: 85px;
      }
      .detailsdsname{
        margin-top: 5px;
      }
      .details-link:link, .details-link:visited {
        background-color: #fa3605;
        color: white;
        padding: 5px 10px;
        margin-top: 15px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        font-stretch: expanded;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
      
      .details-link:hover, .details-link:active {
        background-color: rgb(94, 90, 90);
        transition-duration: 1s;
      }
}

/* about page CSS starts from here */

.aboutpage{
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
}
.aboutpagemother{
    width: 74%;
    height: auto;
    display: flex;
    margin-left: 10%;
}
.about-title{
    width: 74%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 45px;
    text-align: left;
    font-size: 60px;
    font-weight: 900;
    font-stretch: extra-expanded;
    text-decoration: underline;
}
.aboutsidebar{
    width: 25%;
    height: auto;
}
.about-side-navbar-main{
    width: 100%;
    height: 200px;
}
.about-side-navbarhead{
    width:100%;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.about-side-navbarhead h2{
    margin-top:-2%;
    padding:2%;
    text-align: justify;
    font-size: 39px;
    font-weight: 900;
    color: burlywood;
}
.about-side-navbar{
    width:100%;
    height: 150px;
    margin-bottom: 2%;
}
.about-navbar-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: burlywood;
    text-decoration: none;
    font-size: 29px;

}

#about-list-a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid black;
  }

#about-list-a:hover {
    background-color: #555;
    color: white;

}
.aboutmidbar{
    width:80%;
    height: auto;
    margin-left: 3%;
}
.aboutmidbar-details{
    width: 100%;
    height: auto;
}
.aboutmidbar-details-head{
    width: 100%;
    height: 39px;
    text-align: left;
    font-size: 40px;
    font-weight: 900;
    text-decoration: brown;
}
.aboutmidbar-details-img{
    width: 100%;
    height: 350px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}
.aboutmidbar-details-text{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: justify;
    font-family:  Source Sans\ 3,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 22px;
}

@media only screen and (max-width: 480px){
    .about-title{
        width: 100%;
        margin-left: 5%;
        margin-bottom: 15px;
        font-size: 44px;
    }
    .aboutpagemother{
        display: block;
        width: 100%;
        margin-left: 0%;
    }
    .aboutsidebar{
        width: 100%;
        height: 265px;
    }
    .about-navbar-ul{
        width: 100%;
    }
    .aboutmidbar{
        width: 92%;
    }
    .aboutmidbar-details-text{
        margin-top: 8%;
        font-family: Source Sans\ 3,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;;
    }
    .aboutmidbar-details-img{
        height: auto;
    }
}

/*about page css complete here*/