@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
body{
    margin: 0%;
}

.topbar{
    margin-top: 0%;
    height: 10%;
    width: 100%;
    background-color: brown;
    display: flex;
}
.topbar #topname{
    height: 100%;
    width:80%;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: left;
    margin-left: 2px;
    color: aliceblue;
}
.topbar #topgap{
    height: 100%;
    width:10%;  
}
.topbar a{
    text-decoration: none;
    color: #fff;
}
.navbar{
    height: 20%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.DS{
    height: 20%;
    width: 80%;
display: flex;
    margin-left: 10%;
}
#dsname{
    height: 100%;
    width: 70%;
    text-align: left;
    display: flex;

}
#dsname #dslogo{
    height: 100%;
    width: 10%;
    text-align: left;
}
#dsname #name{
    height: 100%;
    width: 90%;
    text-align: left;
    margin-left: 5px;
}

#search{
    height: 100%;
    width: 20%;
    text-align: right;
    padding: 2%;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #181616;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
  .menu{
    height: 80%;
    width: 80%;
    margin-left: 10%;
    display: flex;
  }
  #menugap{
    height: 100%;
    width: 40%;

  }
  #menubar{
    height: 100%;
    width: 60%;
    text-align: right;

  }
#menubar ul{
    padding: 0% 11%;
}
#menubar li{
    display: inline;
    padding: 2%;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;

}

li :hover{
    color: red;
}



.cover {
    position: relative; 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
}

.cover::before {    
      content: "";
      background-image: url(image/SAU1.jpg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: .70;
}
.cover h1 {
    position: relative;
     
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-weight: 600;
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 1px black, 
          -1px 3px 1px black, 
          -2px 5px 1px black;
    font-style: inherit;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.about{
    height: auto;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

 #link:link, #link:visited {
    background-color: #fa3605;
    color: white;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  
  #link:hover, #link:active {
    background-color: rgb(94, 90, 90);
    transition-duration: 1s;
  }
  .top-link:link, .top-link:visited {
    background-color: #fa3605;
    color: white;
    padding: 15px 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  
  .top-link:hover, .top-link:active {
    background-color: rgb(94, 90, 90);
    transition-duration: 1s;
  }
.about h1{
    font-size: 45px;
}
.about p{
    font-size: 30px;
    text-align: justify;
}
.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
    margin-left: 290px;
}
.cards-committee{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
    margin-left: 60px;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('image/moderator.jpg');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('image/president.jpg');
}
.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('image/gs.jpg');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.cardb{
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
      width: 95%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.box{
    width: 70%;
    height: 200px;
    background-color: #fa3605;
    margin-left: 15%;
    
    display: flex;
}
.box-one{
    width: 30% ;
    height: 100%;
    background-color: #316FF6;

}
.box-blank{
    width:5% ;
    height: 100%;
    background: #0ff71b;
}
.join{
    text-align: center;
    font-size: larger;
}


.details{
    height: 170px;
    width: 100%;
    background-color: #4dedf3fd;
    text-align: center;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
}

.detailsmain{
    height: 0%;
    width: 90%;
    margin:5%;
    display: flex;
}

.detailsname{
    height: 70px;
    width: 100%;
    padding-top: 10px;

    display: flex;
}
.detailsdsname{
    height: 100%;
    width: 50%;

    text-align: left;
    padding-left: 2%;
}
.detailslogin{
    height: 100%;
    width: 50%;

    text-align: right;
    padding: 1%;
}
.details-link:link, .details-link:visited {
    background-color: #316FF6;
    color: white;
    padding: 1px 25px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-stretch: expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 500;
  }
  
  .details-link:hover, .details-link:active {
    background-color: rgb(94, 90, 90);
    transition-duration: 1s;
  }
.detailsaddress{
    height: 85px;
    width: 90%;
    margin:5%;
    display: flex;
}
.addressmother{
    text-align: left;
    margin:2%;

}

.footer{
    height: 100px;
    width: 100%;
    background-color: #332e2efd;
    color: #dfdfdf;
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset, 0 -20px 10px -20px rgba(0,0,0,0.45) inset;
}
.footermother{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    margin-bottom: 5px;
}
.logo{
    height: 100%;
    width: 10%;
    background-color: #fff;
}
.logo img{
    margin-left: 10px ;
}
.address{
    height: 100%;
    width: 65%;
}
.addressmain{
    height: 75px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: auto;
}
.rights{
    height: 25px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
#griddiv{
     text-decoration: solid;
     text-align: center;
     margin: 27px;
     font-size: 22px;
     font-weight: 900;
}
.top{
    height: 100%;
    width: 25%;
    margin-top: 5px;
    text-align: right;
    align-items: center;
}

@media screen and (max-width: 768px) and (min-width:600px){
    .DS{
        width:100%;
        margin-left: 0%;
    }
    #dsname{
        width:100%;
    }
    #dsname #dslogo{
        width:15%;
    }
    #dsname #name{
        width: 80%;
    }
    .menu{
        width:96%;
        margin-left: 2%;
    }
    #menugap{
        width: 0%;
    }
    #menubar{
        width: 100%;
    }
    #menubar ul{
        padding: 0%;
    }
    #menubar li{
        display: inline-block;
        padding: 2%;
        font-size: 23px;
    }
    .cover{
        height: 315px;
    }
    .cover h1{
        padding: 2%;
        font-size: 40px;
    }

    .detailsmain{
        height: 55px;
    }
    .footer{
        height: 210px;
    }
    .footermother{
        margin: 0%;
        width: 100%;
    }
    .logo{
        height: 55%;
        width:17%;
    }
    .logo img{
        margin-left: 0%;
        padding: 2px;
    }
    .address{
        display: block;
        height: 250pxpx;
    }
    .addressmain{
        height: 120px;
        grid-template-columns: repeat(3, 2fr);
    }
    .rights{
        height: 50px;
        margin-top: 5px;
        font-size: 28px;
    }
    #griddiv{
        margin: 16px;
        font-size: 26px;
    }
    .top{
        margin: 0%;
    }
}

@media only screen and (max-width: 480px){
    .DS{
        width:100%;
        margin-left: 0%;
    }
    #dsname{
        width:100%;
    }
    #dsname #dslogo{
        width:20%;
    }
    #dsname #dslogo img{
        margin-top: 20px;
    }
    #dsname #name{
        width: 80%;
    }
    #search input{
        width: 30px;
        padding:10px 12px 10px 50px;
        margin-top: 16px;
    }
    .menu{
        width:100%;
        margin-left: 0%;
    }
    #menugap{
        width: 0%;
    }
    #menubar{
        width: 100%;
        text-align: center;
    }
    #menubar ul{
        padding: 0%;
    }
    #menubar li{
        display: inline-block;
        padding: 1%;
        font-size: 13px;
    }
    .cover{
        height: 225px;
        margin-right: 0%;
    }
    .cover h1{
        padding: 21px 141px 32px 0px;
        font-size: 31px;

    }
    .cards{
        display: block;
        margin-left: 0px;
    }
    .cards-committee{
        grid-template-columns: repeat(1, 0fr);
    }
    .card--1{
        width: 90%;
        margin-left: 15px;
        margin-right: 0%;
    }
    .card--2{
        width: 90%;
        margin-left: 15px;
        margin-right: 0%;
    }
    .card--3{
        width: 90%;
        margin-left: 15px;
        margin-right: 0%;
    }

    .about{
        width:100%;
        margin: 0%;
    }
    .about h1{
        font-size: 24px;
    }
    .about p{
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;

    }
    .footer{
        height: 80px;
        box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset, 0 -20px 10px -20px rgba(0,0,0,0.45) inset;
    }
    .footermother{
        margin-left: 0%;
        width: 98%;
        padding-top: 5px;
    }
    .logo{
        height: 70% ;
        width:  20% ;
        border-radius: 15px;
        margin-left: 5px;
    }
    .logo img{
        height: 100% ;
        width:  100% ;
        margin-left: 0%;
    }
    .addressmain{
        height: 39px;
        grid-template-columns: repeat(3, 2fr);
    }
    #griddiv{
        margin: 3px;
        font-size: 13px;
        font-weight: 200;
    }
    .rights{
        margin-top: 15px;
        height: 30%;
        width: 130%;
        font-weight: 100;
    }
    .top{
        margin: 0%;
    }
    
    .top-link:link, .top-link:visited {
        background-color: #fa3605;
        color: white;
        padding: 5px 5px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        font-stretch: expanded;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
      
      .top-link:hover, .top-linkk:active {
        background-color: rgb(94, 90, 90);
        transition-duration: 1s;
      }
      .details{
        box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
      }
      .detailsmain{
        height: 85px;
      }
      .detailsdsname{
        margin-top: 5px;
      }
      .details-link:link, .details-link:visited {
        background-color: #316FF6;
        color: white;
        padding: 5px 10px;
        margin-top: 15px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        font-stretch: expanded;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }
      
      .details-link:hover, .details-link:active {
        background-color: rgb(94, 90, 90);
        transition-duration: 1s;
      }
}

/* about page CSS starts from here */

.aboutpage{
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
}
.aboutpagemother{
    width: 74%;
    height: auto;
    display: flex;
    margin-left: 10%;
}
.about-title{
    width: 74%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 45px;
    text-align: left;
    font-size: 60px;
    font-weight: 900;
    font-stretch: extra-expanded;
    text-decoration: underline;
}
.aboutsidebar{
    width: 25%;
    height: auto;
}
.about-side-navbar-main{
    width: 100%;
    height: 200px;
}
.about-side-navbarhead{
    width:100%;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.about-side-navbarhead h2{
    margin-top:-2%;
    padding:2%;
    text-align: justify;
    font-size: 39px;
    font-weight: 900;
    color: burlywood;
}
.about-side-navbar{
    width:100%;
    height: 150px;
    margin-bottom: 2%;
}
.about-navbar-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: burlywood;
    text-decoration: none;
    font-size: 29px;

}

#about-list-a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid black;
  }

#about-list-a:hover {
    background-color: #555;
    color: white;

}
.aboutmidbar{
    width:80%;
    height: auto;
    margin-left: 3%;
}
.aboutmidbar-details{
    width: 100%;
    height: auto;
}
.aboutmidbar-details-head{
    width: 100%;
    height: 39px;
    text-align: left;
    font-size: 40px;
    font-weight: 900;
    text-decoration: brown;
}
.aboutmidbar-details-img{
    width: 100%;
    height: 350px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid #fff;
   
}
.aboutmidbar-details-text{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: justify;
    font-family: tiro bangla;
    font-size: 22px;
}

@media only screen and (max-width: 480px){
    .about-title{
        width: 100%;
        margin-left: 0%;
        margin-bottom: 15px;
        font-size: 44px;
    }
    .aboutpagemother{
        display: block;
        width: 100%;
        margin-left: 0%;
    }
    .aboutsidebar{
        width: 100%;
        height: 265px;
    }
    .about-navbar-ul{
        width: 100%;
    }
    .aboutmidbar{
        width: 92%;
    }
    .aboutmidbar-details-head{

        font-size: 35px;

    }
    .aboutmidbar-details-text{
        margin-top: 8%;
        font-family: Source Sans\ 3,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;;
    }
    .aboutmidbar-details-img{
        height: auto;
    }
}

/*about page css complete here*/

/* join page css starts from here*/
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
.join-mother{
    width: 90%;
    margin-left:5% ;
    display: grid;
    grid-template-columns: repeat(2, 3fr);
   
}
.join-gereetings{
    width: 100px;
}
#joinbold{
    font-size: 60px;
    text-decoration: underline;
}

.join-form{
   padding-left: 2%;
}

.myForm {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.8em;
    width: 40em;
    padding: 1em;
    border: 1px solid #ccc;
    }
    
    .myForm * {
    box-sizing: border-box;
    }
    
    .myForm fieldset {
    border: none;
    padding: 0;
    }
    
    .myForm legend,
    .myForm label {
    padding: 0;
    font-weight: bold;
    }
    
    .myForm label.choice {
    font-size: 0.9em;
    font-weight: normal;
    }
    
    .myForm input[type="text"],
    .myForm input[type="tel"],
    .myForm input[type="email"],
    .myForm input[type="datetime-local"],
    .myForm select,
    .myForm textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.3em;
    }
    
    .myForm textarea {
    height: 100px;
    }
    
    .myForm .button {
    padding: 1em 3em;
    border-radius: 0.5em;
    background: #eee;
    border: none;
    font-weight: bold;
    margin-top: 1em;
    }
    
    .myForm .button:hover {
    background: #ccc;
    cursor: pointer;
    }

.blank{
        padding-top: 20%;
 
    }
.blank-normal p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    }
.blank-bold p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        text-align: justify;
        }
    

.blank-link{
        text-align: center;
    }
.join-details-link{
    text-align: center;
}
.join-details{
    padding-top: 5%;
}
.join-details-bold {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: justify;
}
.join-learn-more{
    padding-top: 5%;
}
.join-learn-more {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}
.join-learn-more-link{
    text-align: center;
}

@media only screen and (max-width: 480px){
    .join-mother{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 6fr);
        margin-left: 3%;
    }
    #joinbold{
        font-size: 45px;
    }  
    .myForm {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 0.8em;
        width: auto;
        padding: 1em;
        border: 1px solid #ccc;
        }

.join-form{
    padding-left: 0;
    padding-right: 5px;
}
.blank{
    padding-top:0px;
    padding-right: 10px;

}
.blank-normal p{
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
text-align: justify;
}
.blank-bold h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: justify;
    }


.blank-link{
    text-align: center;
}
.join-details-link{
text-align: center;
}
.join-details{
padding-top: 5%;
padding-right: 10px;
}
.join-details-bold {
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
text-align: justify;
}
.join-learn-more{
padding-top: 5%;
}
.join-learn-more {
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
text-align: justify;
}
.join-learn-more-link{
text-align: center;
}
}

/* join saauds page css complete here*/

/* result page css starts from here*/


.result-card {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  }
  
  .main{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  #result-img {
    height: auto ;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .cardsa {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 30.3333%;
    }
  }
  
  .cardx {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #8defef 40%, #9ec8ff 100%);
  }
  
  .card_title {
    color: #0a0a0a;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #050505;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }





/* result page css ends here*/

/* tournament page css starts from here*/

.game-mother{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.game-head{
    width:100%;
    height: 50px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 5%;
}

.game-grid{
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 3fr);
    display: grid;
}
#game{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.game-img img{
    width: 250px;
    height: 170px;
    border-radius: 30px;
    
}
.game-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

@media only screen and (max-width: 480px){
    .game-mother{
        width:100%;
        padding: 0px;
        margin:0%;

    }
    .game-head{
        font-size: 30px;
     
    }
    .game-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    #game{
        grid-template-columns: repeat(1, 0fr);
        padding: 10px;
    }
    .game-img img{
        width: 300px;
        height: auto;
    }
}
/*tournament css ends here*/
/* alumni css starts from here*/


.alumni-mother{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.alumni-head{
    width:100%;
    height: 50px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 5%;
}

.alumni-grid{
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 3fr);
    display: grid;
}
#alumni{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.alumni-img img{
    width: 250px;
    height: 170px;
    border-radius: 30px;
    
}
.alumni-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 40px;
}
.alumni-text-head{
    height:10%;
    padding-top: 10px;
}
@media only screen and (max-width: 480px){
    .alumni-mother{
        width:100%;
        padding: 0px;
        margin:0%;

    }
    .alumni-head{
        font-size: 30px;
     
    }
    .alumni-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    #alumni{
        grid-template-columns: repeat(1, 0fr);
        padding: 10px;
    }
    .alumni-img img{
        width: 300px;
        height: auto;
    }
    .alumni-text{
        height: 170px;
        border-bottom: #555 2px solid;
    }
}

/* result page body css*/
.two-card{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    height: 60%;
}
.card-grid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
  }
  
  figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    margin-left:5px;
    margin-right: 5px;
  }
  figure:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  figure:hover h1 {
    opacity: 0;
    transform: scale(0.7);
  }
  figure:hover img {
    transform: scale(1.25);
  }
  figure:hover figcaption {
    bottom: 0;
  }
  figure h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
    opacity: 1;
    transform: scale(1);
    transition: 0.25s ease;
    z-index: 999;
  }
  figure img {
    height: 100%;
    transition: 0.25s;
  }
  figure figcaption {
    position: absolute;
    bottom: -55%;
    left: 0;
    width: 92%;
    margin: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    line-height: 1;
    transition: 0.25s;
  }
  figure figcaption h3 {
    margin: 0 0 20px;
    padding: 0;
  }
  figure figcaption p {
    font-size: 14px;
    line-height: 1.75;
  }
  figure figcaption button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0;
    padding: 10px 30px;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }

  @media only screen and (max-width: 480px){
     .two-card{
        grid-template-columns: repeat(1, 0fr);
     }
     .card-grid{
       
        width: 133%;
        margin-bottom: 30px;
     }
     figure{
        margin-left: 5px;
        width: 310px;
        min-width: 0 px;
        margin-right: 0%;
        height: 400px;
     }
     figure figcaption{
        bottom: -55%;
        padding: 20px;
        width: 87%;

     }
  }
  /* committee starts from here*/

.container-two {
  width: 65vw;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 53px 20px;
}
.card-committe {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 70px;
}
.card > div {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}
.card-image {
  width: 280px;
  height: 200px;
}
.card-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.card-text {
 
  margin-bottom: -50px;
  height: 75px;
  width: 240px;
  background-color: #1d1c20;
  color: #fff;
  padding: 20px;
}
.card-meal-type {
  font-style: italic;
}
.card-title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  margin-top: -20px;
}
.card-body {
  font-size: 1.25rem;
}

@media only screen and (max-width: 480px){
  .container-two{
    grid-template-columns: repeat(1, 0fr);

  }
  .card-committe{
    width: 230px;
  }
 }
/* copy rights page css*/
